body{
    color:black;
    text-align: center;
    
}
.subheader{
    text-align: center;
    font-size: normal;
    font-family: 'Times New Roman', Times, serif;
}
.odstep{
    padding: 20px;
    position: relative;
}
.container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    
    


}
.list{
    width: 300px;
}
.cytat{
    display: flex;
    text-align: center;
    font-style: italic;
    
    width: 60%;
}
.odnosnik{
    font-size: larger;
    font-weight: bold;
    color: rgb(117, 20, 20);
}